* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.homepage {
    background-image: url(./assets/100kidsss.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    width: 100vw;
    height: 637px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.homepage-container {
    margin: 0;
}

.socialLinks {
    margin: 0;
    width: 65px;
    grid-row-start: 6;
}

.social-box {
    width: 65px;
    height: 60px;
}

.social-img{
    width: 65px;
    height: 60px;
}

/*.background {
    width: 100vw;
    height: 1080px;
}*/